@{
    ViewData["Title"] = "Albums";
}

@model List<Domain.Domain_Models.MusicStoreModels.Album>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Albums</h1>

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Artist Name</th>
                    <th>Release Date</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var album in Model)
                {
                    <tr>
                        <td>@album.Title</td>
                        <td>@album.ArtistName</td>
                        <td>@album.ReleaseDate</td>
                        <td>@album.Price</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Index", "MusicStore")" class="btn btn-primary btn-lg mx-2">View All Artists</a>
        <br><br><br><br><br><br><br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
